@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Site is developed by:

     <br /><br />- Jon Martin Mikalsen
     <br />- Alexander Wold
     <br />- Runar Ingebrigtsen

     <br /><br />Altså: JoMAR
</p>
