@model JoMAR.Models.Invite

@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Site is developed by:

     <br /><br />- Jon Martin Mikalsen
     <br />- Alexander Wold
     <br />- Runar Ingebrigtsen

     <br /><br />Altså: JoMAR
</p>
<h1>@ViewBag.Thanks</h1>
@using (Html.BeginForm()) { 
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.CellPhone)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CellPhone)
                @Html.ValidationMessageFor(m => m.CellPhone)
            </div>
        </fieldset>
    </div>
}
