@model JoMAR.ChatRoom

@{
    ViewBag.Title = "delete";
}

<h3>Are you sure you want to delete this room and ALL messages?</h3>
<fieldset>
    <legend>@Html.DisplayFor(model => model.Name)</legend>

    <div class="display-label">isPublic</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isPublic)
    </div>

    <div class="display-label">isPrivate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isPrivate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
