@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
@if (Request.IsAuthenticated)
{
    <p> Welcome to JoMAR's online chat! You are logged in and ready to chat with other people! </p>
}
else
{
   <p>
    Welcome to JoMAR's online chat! 
    To begin, you must first log in
   </p>  
    
}
