@model IEnumerable<JoMAR.ChatRoom>

@{
    ViewBag.Title = "PulbicRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pulbic ChatRooms</h2>
<select size="20" id="ChatRooms" name ="Room">
@foreach (var item in Model)
{
<option>@Html.DisplayFor(modelItem => item.Name) </option>
}
</select> 

<p>
    <td>
     @Html.ActionLink("Create new room", "create") <td>&nbsp; &nbsp;</td>
     @Html.ActionLink("Go to room", "getRoom") 
    </td>
</p>