@model IEnumerable<JoMAR.ChatRoom>

@{
    ViewBag.Title = "PublicRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Public ChatRooms</h2>

<p>
    @Html.ActionLink("Create New chatroom", "create")
</p>
<table id="chatRooms">
    <tr>
        <th>
            Chatrooms
        </th>
        <th>
           Owner of room 
        </th>
        <th></th>
    </tr>



<script type="text/javascript">

    window.setInterval(getRooms, 5000);

    $(document).ready(function () {
        getRooms()
    });

    function getRooms() {
        $.getJSON("/Jason/getRooms", function (data) {
            var html = '<tr><th> ChatRooms </th><th> Owner of room </th><th></th></tr>';
            var len = data.length;
            for (var i = 0; i < len; i++) {
                html += '<tr><td>' + data[i].Name + '</td><td>' + data[i].aspnet_User.UserName + '</td></tr>';
            }
            $('#chatRooms').html(html);
        });
    }

</script>
</table>