@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload your file</h2>


@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Chatting upload</legend>
        <p>
            <input type="file" name="file" />
            <input type="submit" value="Upload File" />
        </p>
    </fieldset>
}
   <script type="text/javascript">
       $("form").submit(function () {
           $.ajax({
               type: "POST",
               url: "/Chat/@Model.UrlName()",
               data: $(this).serialize(),
               success: alert("Success")
           });
           return false;
       });

</script>

