@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div style='background-color:#FF3300'>
        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
          <input type="file" name="file" />
          <input type="submit" value="Upload" />
        }
    </div>
</body>
</html>
