@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Upload</title>
</head>
<body>
    <div style='background-color:#FF3300'>
        @using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="hidden" value="@ViewBag.room" name="room" />
            
          <input type="file" name="file" />
          <input id="mama" type="submit" value="Upload" />
        }
    </div>
    <script type="text/javascript">
        $("form").submit(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("", "Upload")'
            });
        });
    </script>
</body>
</html>
