@model JoMAR.Models.SMS
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Essemess output</h2>

@Html.Raw(@Model.gravatar("email", "mama"))

@ViewBag.mama